<header>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Note Page</span>
              </a>
        
              <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Sign Up</a></li>
              </ul>
            </header>
          
</header>

<main>

        <div class="container">
                <main class="mb-3 ">
                <label for="exampleFormControlInput1" class="form-label">Note Title</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </main>
          
                <main class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Note Text</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </main>

                <input class="btn btn-primary" type="submit" value="Submit" >
        </div>
</main>

<footer>
        <div class="container">
                <h1>
                Your Notes
                </h1>
        </div>

        <div class="container">
            <div class="row">
            
                <div class="col-sm">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Note title</h5>
                    <p class="card-text">Note Description Preview</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
                </div>
                </div>
            
                <div class="col-sm">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Note title</h5>
                    <p class="card-text">Note Description Preview</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
                </div>
                </div>
            
                <div class="col-sm">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Note title</h5>
                    <p class="card-text">Note Description Preview</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
                </div>
                </div>

            </div>
        </div>
       
</footer>