<body>
  <!--Main Navigation header containing login and Signup Modals-->
<header>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Note Page</span>
              </a>

              {{#if logged_in}}
              <ul class="nav nav-pills">

              </ul>
        
              {{else}}
              <ul class="nav nav-pills">
                <button class="btn btn-hidden" data-bs-toggle="modal" data-bs-target="#Login-modal">
                  Login
                </button>

                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Signup-modal">
                  Signup
                </button>
              </ul>


 <!--login and Signup Modals-->

              <div class="modal fade" id="Login-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-title">Login</h5>
                    </div>
                    
                    <form id="UserLoginForm">
                    <div class="modal-body">
                      <label for="Login-modal-user" class="form-label">Your user:</label>
                      <input type="input" class="form-control" id="Login-modal-user" placeholder="JohnDoe">

                      <label for="modal-password" class="form-label">Your Password:</label>
                      <input type="password" class="form-control" id="Login-modal-password">
                    </div>

                    <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                    </form>

                    <div class="container">
                      <div class="alert alert-danger d-flex align-items-center d-none" role="alert" id="failedlogin">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"></use></svg>
                      <div>
                      Login Failed.
                      </div>
                      </div>

                      <div class="alert alert-success d-flex align-items-center d-none" role="alert" id="successfulllogin">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                      <div>
                      login Successfull.
                      </div>
                      </div>
                    </div>

                </div>
                </div>
              </div>




              <div class="modal fade" id="Signup-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-title">SignUp</h5>
                    </div>
                    

                    <form id="UserSignUpForm">
                    <div class="modal-body">
                      <label for="Signup-modal-user" class="form-label">Your user:</label>
                      <input type="input" class="form-control" id="Signup-modal-user" placeholder="JohnDoe">

                      <label for="modal-password" class="form-label">Your Password:</label>
                      <input type="password" class="form-control" id="Signup-modal-password">
                    </div>
          

                    <div class="modal-footer">
                      <button class="btn btn-primary">Create User</button>
                    </div>

                    </form id="SignupForm">

                    <div class="container">
                      <div class="alert alert-danger d-flex align-items-center d-none" role="alert" id="failedusercreation">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"></use></svg>
                      <div>
                      User creation failed.
                      </div>
                      </div>

                      <div class="alert alert-success d-flex align-items-center d-none" role="alert" id="successfullusercreation">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                      <div>
                      User has been succesfully created.
                      </div>
                      </div>
                    </div>
                </div>
                </div>
              </div>


                  
                </div>
              </div>
            </header>
          
</header>

<!--Create Note and Submit-->
<main>

        <div class="container">
        <form id="NoteForm">
                <div class="mb-3 ">
                <label for="exampleFormControlInput1" class="form-label">Note Title</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
          
                <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Note Text</label> 
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <input class="btn btn-primary" type="submit" value="Submit" >
        </form>
        </div>
        
        
</main>


<!--Loop through and display notes-->
<footer>
        <div class="container">
                <h1>
                Your Notes
                </h1>
        </div>

        <div class="container" id="NoteDisplay">
            <div class="row">
            
                <div class="col-sm d-none">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="NoteTitle">Note title</h5>
                    <p class="card-text" id="NoteDescription">Note Description Preview</p>
                    <a href="#" class="btn btn-primary" >Load</a>
                </div>
                </div>
                </div>
            
                <div class="col-sm d-none">
                  <div class="card">
                  <div class="card-body">
                      <h5 class="card-title" id="NoteTitle">Note title</h5>
                      <p class="card-text" id="NoteDescription">Note Description Preview</p>
                      <a href="#" class="btn btn-primary" >Load</a>
                  </div>
                  </div>
                  </div>
            
                <div class="col-sm d-none">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="NoteTitle">Note title</h5>
                    <p class="card-text" id="NoteDescription">Note Description Preview</p>
                    <a href="#" class="btn btn-primary" >Load</a>
                </div>
                </div>
                </div>

            </div>
        </div>
       
</footer>
</body>
