<!--Create Note and Submit-->
<main>

        <div class="container">
        <form id="NoteForm">
                <div class="mb-3 ">
                <label for="exampleFormControlInput1" class="form-label">Note Title</label>
                <input type="input" class="form-control" id="NoteTitle" placeholder="">
                </div>
          
                <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Note Text</label> 
                <textarea class="form-control" id="NoteText" rows="3"></textarea>
                </div>

                <input class="btn btn-primary" type="submit" value="Submit" >
        </form>
        </div>
        
</main>